.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0 10px 0;
}

.mat-card {
  margin: 5px;
  width: 95%;

  &.current-clipboard {
    background: #2f3542;

    pre, sub, .mat-button, span { color: white; }
  }

  pre {
    cursor: pointer;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    max-height: 100px;
    max-width: 300px;
    cursor: pointer;
  }

}

.mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  sub {
    padding: 5px;
    color: #333;
  }
  
  .mat-icon {
    color: #2f3542;
  }
}
