.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0 10px 0;
<<<<<<< HEAD

  overflow: hidden;
=======
>>>>>>> 9e10570ed6fab2448bb74fb6924b283637ca410c
}