<app-topbar (clear)="clear()" (search)="search($event)" (devtool)="devtool()"></app-topbar>

<div class="container">
  <!-- current clipboard -->
  <app-clipitem-view *ngIf="currentClipboard"
    [clipitem]="currentClipboard" [isCurrent]="true" 
    (favorite)="favorite($event)" (cp)="copy($event)" (delete)="delete($event)">
  </app-clipitem-view>
  
  <!-- other items -->
  <app-clipitem-view *ngFor="let item of cbfiltered | sortBy: 'favorite'; let index = index"
    [clipitem]="item" [isCurrent]="false" (favorite)="favorite($event)" (cp)="copy($event)" (delete)="delete($event)">
  </app-clipitem-view>

  <p *ngIf="!currentClipboard">Le presse-papier est vide</p>
</div>